<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type ="member.bean.MemberDTO" alias="memberDTO"/>
		<typeAlias type="notice.bean.NoticeDTO" alias="noticeDTO"/>
		<typeAlias type="detail.bean.DetailDTO" alias="detailDTO"/>
      	<typeAlias type="detail.bean.DetailhoogiDTO" alias="detail_hoogiDTO"/>
      	<typeAlias type="detail.bean.DetailQnADTO" alias="detail_QnADTO"/>
      	<typeAlias type="category.bean.ProductDTO" alias="productDTO"/>
      	<typeAlias type="category.bean.Product_boardDTO" alias="product_boardDTO"/>
      	<typeAlias type="mypage.bean.OrderDTO" alias="orderDTO"/>
	</typeAliases>
	 
</configuration>